<div id='container' class='container-fluid' ng-controller='ShortenController'>
 <nav class='navbar navbar-default'>
   <div class='container-fluid'>
      <!-- Logo -->
      <div class='navbar-header'>
        <a class="navbar-brand" href="#links">All Links</a>
        <a href='#shorten' class='navbar-brand'>Shorten</a>
        <a href='#logout' class='navbar-brand'>Logout</a>
      </div>
    </div>
 </nav>
    <div id='container'></div>
  <form  ng-submit ='addLink()' name ='shorten'>
      <input class='form-control' ng-model='link.url' type='url'required name='url'>
      <button class="btn btn-primary" ng-model='submit' ng-click='submitting()'>Shorten</button>
  </form>
  <img class='spinner' ng-show='showMessage' src='../assets/spiffygif_46x46.gif'>
  <div class='message' ng-show='showMessage' >Shortening Link</div>

</div>

