<div id='container' ng-controller='ShortenController'>
 <nav class='navbar navbar-default'>
   <div class='container-fluid'>
      <!-- Logo -->
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Shortly</a>
      </div>

      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li><a href='#links' class='index'>All Links</a></li>
          <li><a href='#shorten' class='create'>Shorten</a></li>
          <li><a href='#logout' class='logout'>Logout</a></li>
        </ul>
      </div>
    </div>
 </nav>
    <div id='container'></div>
  <form ng-submit ='addLink()' name ='shorten'>
      <input class='text' ng-model='link.url' type='url'required name='url'>
      <div role = "alert">
        <span class='error' ng-show='shorten.input.$error.required'>
          Required!
        </span>
        <span class='error' ng-show='shorten.input.$error.url'>
          Not valid url!
        </span>
      </div>
      <button ng-model='submit' ng-click='submitting()'>Shorten</button>
  </form>
  <img class='spinner' ng-show='showMessage' src='../assets/spiffygif_46x46.gif'>
  <div class='message' ng-show='showMessage' >Shortening Link</div>

</div>

<!-- <script id='create' type='text/x-handlebars-template'>
  <form>
      <input class='text' type='text' name='url'>
      <input type='submit' value='Shorten'>
  </form>
  <img class='spinner' src='/spiffygif_46x46.gif'>
  <div class='message'></div>
</script> -->
