body {
  margin: 6px;
  background: #e9ebed;
  font-family: 'Lato', sans-serif;
}
li {
  list-style: none;
}


.title {
  color: #465f59;
}
.btn-primary {
  margin-top: 5px;
  background-color: #648880
}

.btn-primary:hover {
  background-color: #73938c;
}

.navbar-default .navbar-brand:hover {
  color: #465f59;
  text-shadow: 1px 1px #141b19;
}